/target
**/target
**/*.rs.bk
.DS_Store

# proptest
proptest-regressions/

# cargo-fuzz
fuzz/artifacts/
fuzz/corpus/

# cargo-mutants
mutants.out/
mutants.out.old/

# IDEs
.idea/
.vscode/

# OS
Thumbs.db
